<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qzq.haha.MyShopDao.UserMapper">
<resultMap id="User" type="com.qzq.haha.POJO.User">
    <id column="ID" property="id"/>
    <result column="LOGIN_NAME" property="loginName"/>
    <result column="PASSWORD" property="password"/>
    <result column="name" property="name"/>
    <result column="sex" property="sex"/>
    <result column="email" property="email"/>
    <result column="phone" property="phone"/>
    <result column="address" property="address"/>
    <result column="role" property="role"/>
    <result column="createDate" property="createDate"/>
    <result column="disabled" property="disabled"/>
    <result column="active" property="active"/>
</resultMap>
<select id="findUser" resultMap="User">
    SELECT * FROM ec_user WHERE LOGIN_NAME=#{_loginName} AND PASSWORD=#{_password}
</select>
</mapper>
